.sidebar {
    width: 250px;
    height: 100vh;
    background: #2c3e50;
    color: white;
    position: absolute;
    text-align: left; /* Ensure left alignment */
    left: 0;
    top: 0;
    padding: 20px;
    transition: all 0.3s ease;
    z-index: 1000;
}
#sidebar-menu a {
    text-align: left; /* Ensure items are left-aligned */
    display: block;
    padding: 10px 20px;
}

.sidebar a {
    display: block;
    padding: 15px;
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: 0.3s;
}
.sidebar a i {
    margin-right: 10px;
}
.sidebar a:hover {
    background: #1e272e;
    transform: translateX(10px);
}
